    <div class="banner cover">
      <div class="banner-content">
        <h1>Drinkos</h1>
        <p>Learn to drink with us in Lille</p>
      </div>
    </div>

    <%= render 'partials/card', cocktail: @cocktail %>

<div class="butn">
    <div class="btn-add">
      <%= link_to new_cocktail_path do %>
        <i class="fas fa-plus"></i> Add a cocktail
      <% end %>
    </div>
</div>
