<div class="banner">
  <div class="banner-content">
    <h1>Drinkos</h1>
    <p>Learn to drink with us in Lille</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
         <div class="card">
            <div class="card-category"><%= ["MUST", "POPULAR", "SUMMER"].sample %></div>
            <div class="card-description">
              <h2>  <%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <p>Very cool cocktail, the best</p>
            </div>

          </div>
       </div>
      <% end %>
    </div>
  </div>



<%= link_to 'Add a cocktail', new_cocktail_path %>
