.container_banner {
  position: relative;
  overflow: hidden;
}

.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover {
  background: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  top: -9999px;
}

.center {
  text-align: center;
  color: #004392;
  font-size: 100px;
  font-family: 'Fascinate Inline', cursive;
  border-top: 10px solid white;
  border-radius: 3px;
}

.background_show {
  border-radius: 6px;
  height: 30vh;
}

.banner h1 {
  font-size: 130px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Fascinate Inline', cursive;
  color: #ff1a1a;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  opacity: 0.6;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

